# Data Cleaning

In [60]:
import pandas as pd

In [61]:
df = pd.read_csv('AAPL.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100323  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095089  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088110  105728000
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090291   86441600
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092908   73449600

In [62]:
df.shape

(10409, 7)

In [63]:
# This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10409 entries, 0 to 10408
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       10409 non-null  object
 1   Open       10409 non-null  float64
 2   High       10409 non-null  float64
 3   Low        10409 non-null  float64
 4   Close      10409 non-null  float64
 5   Adj Close  10409 non-null  float64
 6   Volume     10409 non-null  int64
dtypes: float64(5), int64(1), object(1)
memory usage: 569.4+ KB

In [64]:
# to check summary stats
df.describe().T.apply(lambda x: x.apply("{0:.3f}".format))

,count,mean,std,min,25%,50%,75%,max
Open,10409.000,13.960,30.169,0.050,0.282,0.469,14.218,182.630
High,10409.000,14.112,30.515,0.050,0.288,0.478,14.364,182.940
Low,10409.000,13.809,29.835,0.049,0.275,0.460,14.044,179.120
Close,10409.000,13.967,30.192,0.049,0.281,0.469,14.206,182.010
Adj Close,10409.000,13.350,29.911,0.038,0.235,0.387,12.188,181.778
Volume,10409.000,332177847.171,339334418.573,0.000,124760400.000,219968000.000,412610800.000,7421640800.000

In [65]:
# determining how many duplicates are in the dataset, if any
print(df.duplicated().sum())

0

In [66]:
# determining how many null values are in the dataset, if any
print(df.isnull().sum())

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [67]:
# ensuring that the values in the "Date" column are in datetime format
df["Date"] = pd.to_datetime(df["Date"])

In [68]:
# setting the "Date" column as the index
df = df.set_index("Date")
df.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100323  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095089  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088110  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090291   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092908   73449600

In [69]:
# exporting the cleaned data into a new csv file "AAPL_clean.csv" so that it can be used across different files
df.to_csv('AAPL_clean.csv')