# Detect the presence of head and shoulders on a 20-day basis in the AAPL dataset
A binary value will be returned regarding whether head and shoulders were found, this will be for every 20 days worth of data. Head would be considered the central peak which is larger than both shoulder peaks. The two shoulder peaks need to be within 5% distance of one another to be considered

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('AAPL.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.100323  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.095089  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.088110  105728000
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.090291   86441600
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092908   73449600

In [10]:
df["left_shoulder"] = df["High"].rolling(window=20).max()
df["right_shoulder"] = df["High"].rolling(window=20).max().shift(periods=-20)
df["head"] = df["High"].rolling(window=20).max().shift(periods=-10)

df["left_shoulder_diff"] = (df["head"] - df["left_shoulder"]) / df["head"]
df["right_shoulder_diff"] = (df["head"] - df["right_shoulder"]) / df["head"]

df["head_shoulders"] = ((df["left_shoulder_diff"] <= 0.05) & (df["right_shoulder_diff"] <= 0.05)).astype(int)
df.head()

HnS_df = df.copy()
%store HnS_df

Stored 'HnS_df' (DataFrame)

In [12]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,left_shoulder,right_shoulder,head,left_shoulder_diff,right_shoulder_diff,head_shoulders
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100323,469033600,NaN,0.161272,NaN,NaN,NaN,0
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095089,175884800,NaN,0.161272,NaN,NaN,NaN,0
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088110,105728000,NaN,0.161272,NaN,NaN,NaN,0
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090291,86441600,NaN,0.161272,NaN,NaN,NaN,0
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092908,73449600,NaN,0.161272,NaN,NaN,NaN,0

Detecting head and shoulders pattern in stock charts can be quite common and may appear frequently, especially in volatile markets. However, it's important to note that head and shoulders pattern alone may not be enough to make trading decisions. Traders and investors usually use technical analysis in conjunction with fundamental analysis and risk management strategies.